myorigin = /etc/mailname

smtpd_banner = MTA da Dexter - Servidor {{ ansible_hostname }}
biff = no

append_dot_mydomain = no
delay_warning_time = 4h
readme_directory = no

smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
smtpd_use_tls=yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
myhostname = {{ ansible_fqdn }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = /etc/mailname
mydestination = {{ ansible_domain }}, smtp.{{ ansible_domain }}, {{ ansible_fqdn }}, webmail.{{ ansible_domain }}, pop.{{ ansible_domain }}, imap.{{ ansible_domain }}, localhost
relayhost = 
mynetworks = {{ ansible_default_ipv4.address }}, 127.0.0.1
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = all

home_mailbox = Maildir/
